html, body{
    background: #eaeaea;
    font-size: 16px;
    font-family: sans-serif;
}

main{
    background: #fff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
    width: 75%;
}


.top-margin {
  margin-top: 8px;
}


.fancy {
  font-style: italic;
}
