<!doctype html>
<html ng-app="UserSearch">
<head>
    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/bower_components/angular-animate/angular-animate.js"></script>
    <script src="assets/bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script src="assets/bower_components/spin.js/spin.min.js"></script>
    <script src="assets/bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="components/searchPage/search-service.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/styles/main.css"/>
</head>
<body ng-controller="UserSearchController as searchCtrl" class="container-fluid">
<div  class="alert alert-danger top-margin" ng-if="searchCtrl.error">{{searchCtrl.error}}</div>
<main class="main col-xs-7 col-xs-offset-2">
    <header class="form-header row">
        <h1 class="header col-xs-12">UX Society Members</h1>
        <div class="searchBar col-xs-12">
            <input class="form-control search-bar" type="text" placeholder="Search..."
                   ng-model="searchCtrl.searchFilter"/></span>
        </div>
    </header>
    <div class='row spinner' ng-if="searchCtrl.showSpinner" us-spinner></div>
    <div class="col-xs-12">
        <section ng-hide="searchCtrl.showSpinner" class="row top-margin">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>Name</th>
                    <th>Occupation</th>
                    <th>Company</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in searchCtrl.userData | filter: searchCtrl.searchFilter"
                        ng-click="searchCtrl.getUserDetails($index)">
                        <td>{{user.firstName}} {{user.surname}}</td>
                        <td>{{user.occupation}}</td>
                        <td>{{user.company}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>
<aside class="col-xs-3" ng-hide="searchCtrl.showSpinner">
    <div class="well well-sm top-margin fixed col-xs-3 ">
        <h4>{{searchCtrl.user.firstName}} {{searchCtrl.user.middleInitial}} {{searchCtrl.user.surname}}</h4>
        <img src="{{searchCtrl.user.portrait}}" alt="No portrait for that user"/>
        <p>{{searchCtrl.user.occupation}}
        <p>
        <p>{{searchCtrl.user.company}}
        <p>
        <p class='fancy'>{{searchCtrl.user.motto}}
        <p>
    </div>
</aside>
</body>
</html>
